<form action="/collection/add" method="post">
   <h1>Add new collection</h1>
   Collection name: <input type="text" name="name" id="" required>
   <br><br>
   Collection country: <input type="text" name="country" id="" required>
   <br><br>
   <input type="submit" value="Add">
</form>